/* Fonts definition */
@font-face {
	font-family: 'ArtifikaRegular';
	src:url('~Fonts/Artifika-Regular.eot') format('eot'),
		url('~Fonts/Artifika-Regular.eot?#iefix') format('embedded-opentype'),
		url('~Fonts/Artifika-Regular.woff2') format('woff2'),
		url('~Fonts/Artifika-Regular.ttf') format('truetype'),
		url('~Fonts/Artifika-Regular.svg?') format('svg');
	font-weight: normal;
	font-style: normal;
}
